# =========================
# Python cache files
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
env/
venv/
.venv/

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# SQLite database
# =========================
*.db
*.sqlite3

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# IDE / Editor files
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
